@model Pokemon


<html>
<head>
    <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
        }

            table.center {
                margin-left: auto;
                margin-right: auto;
            }
    </style>
</head>
<body>

    <table class="center">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Pokedex #</th>
            <th>Height
            <th>Weight
            <th>Type
            <th>Remove from Favorites
        </tr>




        <tr>
            @*@foreach (var f in Model)
            {*@
            <tr>

                <td><img src="@Model.sprites.other.dream_world.front_default" width="100" height="100" />
                <td>@Model.name</td>
                <td>@Model.id</td>
                <td>@Model.height</td>
                <td>@Model.weight</td>
                <td>@Model.types[0].type.name</td>
                @*<td> <form asp-action="RemoveFromFavorites" asp-controller="Favorites" method="post"></form>
    <input type="checkbox" />
    <input hidden name="PokedexNumber" value="@Model.id" />
    <input hidden name="Name" value="@Model.name" />
    <input hidden name="Type" value="@Model.types[0].type.name" />
    <input hidden name="Height" value="@Model.height" />
    <input hidden name="Weight" value="@Model.weight" />*@

</td>

            </tr>
            <input type="submit" value="Save Changes" />
            
        }

            @*<td><img src="@Model.sprites.other.dream_world.front_default" />
            <td>@Model.name</td>
            <td>@Model.id</td>
            <td>@Math.Round(@Model.height * .328, 2) ft</td>
            <td>@Math.Round(@Model.weight * .22, 2) lbs</td>
            <td>@Model.types[0].type.name</td>
            <td><form asp-action="RemoveFromFavorites"><input type="hidden" name="id" /><button class="btn">Remove from Favorites</button></form></td>*@

            </tr>

            <tr>
            </tr>
        </table>
    </body>
</html>

